.navbar {
	display: flex;
	width: 100%;
	height: 1rem;

	&__left {
		flex: 1;
		display: flex;

		.buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: stretch;
			margin-right: 1rem;

			button {
				border: none;
				font-size: 1.5rem;
				background: none;
				padding: 0;
				cursor: pointer;
				color: var(--third-text-color);
				transition: all 0.1s ease-in-out;

				&:not(:last-child) {
					margin-right: 1rem;
				}

				span {
					display: block;
				}

				&:hover {
					color: var(--primary-color);
				}

				&:focus {
					outline: none;
				}
			}
		}
	}

	&__right {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;

		button {
			border: none;
			display: flex;
			flex-direction: row;
			align-items: center;
			flex-wrap: nowrap;
			font-size: 1.5rem;
			background: none;
			padding: 0;
			cursor: pointer;
			color: var(--third-text-color);
			transition: color 0.1s ease-in-out;

			span {
				font-size: 1.3rem;
				display: block;
			}

			&:not(:last-child) {
				margin-right: 1rem;
			}

			&:hover {
				color: var(--primary-color);
			}

			&:focus {
				outline: none;
			}
		}

		&__login__info {
			display: flex !important;
			align-items: center !important;
			justify-content: center !important;
			flex-direction: row !important;
			flex-wrap: nowrap !important;

			img {
				width: 28px;
				height: 28px;
				border-radius: 50%;
				margin-right: 0.4rem;
			}
			span {
				font-size: 1rem !important;
			}
		}
	}
}
