.chip {
	display: inline-block;
	max-width: 100%;
	padding: 0.25rem 0.5rem;
	color: var(--text-color);
	background: var(--hr-color);
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	box-shadow: var(--shadow);
	transition: box-shadow 0.3s;

	&:hover {
		box-shadow: var(--shadow-hover);
	}

	&:focus {
		box-shadow: var(--shadow-focus);
	}

	&:not(:last-child) {
		margin-right: 0.5rem;
	}

	p {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		top: -2px;
		transition: color 0.2s ease-in-out;
	}

	&:hover {
		& > p {
			color: var(--primary-color);
		}
	}
}
