.navbar {
	display: flex;
	width: 100%;
	height: 1rem;

	&__left {
		flex: 1;
		display: flex;

		.buttons {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: stretch;
			margin-right: 1rem;
		}
	}

	&__right {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;

		&__login {
			background: transparent;
			border: none;
			color: var(--text-color);
			font-size: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: nowrap;

			&__info {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;
				flex-wrap: nowrap;
				border: none;
				background: transparent;
				color: var(--text-color);
				margin-right: 1rem;

				&__avatar {
					margin-right: 0.4rem;

					img {
						width: 28px;
						height: 28px;
					}
				}

				span {
					font-size: 1rem;
				}
			}
		}
	}
}
