@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap');
@import url('./theme.scss');

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Noto Sans SC', sans-serif;
	color: var(--text-color);
	overflow: hidden;
	user-select: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 自定义滚动条样式 */
*::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--hr-color);
	border-radius: 10px;
}

#root {
	//height: 100%;
	width: 100%;
}
