:root {
	--background-color: #f6f6f6;
	--second-background-color: #f9f9f9;
	--button-hover-bg-color: #ebebeb;
	--button-focus-bg-color: #e3e3e3;
	--hr-color: #e3e3e3;
	--text-color: #000;
	--second-text-color: #333;
	--primary-color: #00cc65;
	--border-radius: 4px;
	--box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
