.button {
	padding: 0.5rem 1rem;
	background: var(--button-bg-color);
	color: var(--text-color);
	border: none;
	border-radius: 6px;
	outline: none;
	box-shadow: var(--shadow);
	transition: background 0.1s ease-in-out;

	&:hover {
		background: var(--button-hover-bg-color);
	}

	&:focus {
		background: var(--button-focus-bg-color);
	}
}

.button__icon {
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	font-size: 1.5rem;
	background: none;
	padding: 0;
	cursor: pointer;
	color: var(--third-text-color);
	transition: color 0.1s ease-in-out;

	i {
		font-size: 1.3rem;
		display: block;
	}

	&:not(:last-child) {
		margin-right: 1rem;
	}

	&:hover {
		color: var(--primary-color);
	}

	&:focus {
		outline: none;
	}
}