.search {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	max-width: 100%;

	&__topbar {
		z-index: 1;
		background: var(--second-background-color);

		&__typeTab {
			display: flex;
			width: 100%;
			margin-bottom: 0.5rem;
			border-radius: 8px;
			background: var(--background-color);

			h1 {
				margin-bottom: 0.7rem;
			}

			&__item {
				flex: 1;
				width: 100%;
				padding: 0.5rem 0;
				margin: 0 0.2rem;
				font-size: 1.2rem;
				font-weight: 500;
				background-color: transparent;
				border: none;
				border-bottom: 2px solid transparent;
				color: var(--text-color);
				border-radius: 8px;
				cursor: pointer;
				transition: all 0.3s ease-in-out;

				&__focus {
					background: var(--button-focus-bg-color);
				}

				&:hover {
					background: var(--button-hover-bg-color);
				}
			}
		}
	}

	&__result {
		margin-bottom: 1rem;
		overflow-y: overlay;
		flex: 1;
		width: 100%;

		&__playlist,
		&__album {
			display: grid;
			grid-template-columns: repeat(
				auto-fill,
				clamp(100px, calc((100% - 0.8rem) / 5), 200px)
			);
			justify-content: space-between;

			&__card:not(:last-child) {
				padding-right: 0.8rem;
			}
		}
	}
}

.centBox {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
