.sidebar {
	display: flex;
	max-height: calc(100dvh - 75px);

	&__logo {
		width: 100%;
		height: 43px;
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 1rem;

		img {
			max-width: 25px;
			max-height: 25px;
		}
	}

	&__item {
		width: 100%;
		padding: 8px;
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		h1 {
			padding: 0;
			flex: 1;
			margin: 0 8px;
			font-size: 0.8rem;
			color: var(--second-text-color);

			display: flex;
			align-items: center;
			justify-content: flex-start;

			span {
				display: flex;
				font-size: 1.2rem;
				position: relative;
				top: 1px;
				margin-left: auto;
				transition: color 0.1s ease-in-out;

				&:hover {
					color: var(--primary-color);
				}
			}
		}

		button {
			width: 177px;
			height: 38px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: nowrap;
			border: none;
			border-radius: var(--border-radius);
			padding: 8px;
			margin: 0 8px 0 4px;
			background: transparent;
			flex: 1;
			cursor: pointer;
			font-size: 1rem;
			color: var(--text-color);
			transition: all 0.1s ease-in-out;

			&:not(:last-child) {
				margin-bottom: 4px;
			}

			.icon {
				margin-right: 8px;
				font-size: 1.5rem;
			}

			&.active {
				background: var(--button-focus-bg-color);
			}

			&:hover {
				background-color: var(--button-hover-bg-color);
			}
		}
	}

	&__playlist {
		max-height: 100%;
		width: 100%;

		&__items {
			width: 100%;

			&__item {
				min-height: 50px !important;
				max-height: 50px !important;
				display: flex;

				// 文本溢出省略号
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;

				// 对齐下面的img与文本
				align-items: center;

				&__cover {
					width: 34px !important;
					height: 34px !important;
					min-width: 34px !important;
					margin-right: 0.5rem;
					border-radius: 8px;
				}
			}
		}
	}
}
